
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Link</title>
    <style>
        body {
            background-image: url('../../Assets/Admin/css/images/body-bg.gif');
        }
    </style>
</head>
<body>
    <div>
        <h1 style="text-align : center; color:antiquewhite;">
            Add Link
        </h1>
        <form action="/Admin/addTap" method="post">
        <div style="background-color:darkgrey;height: 600px;width : 400px; margin :50px auto; border :3px solid green; border-radius: 3% 3% 3% 3%;">
            <div style="margin-left:20px;margin-top:20px;">

                <label>Id Phim  :</label><input name="a3" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
                <label>Tập  :</label><select name="b3" style="margin-left:45px;">
                      @for(int i=1;i<10;i++)
                      {
                          <option value="@i">@i</option>
                      }
                </select><br><br>
                <label>link tập :</label><input name="c3" style="margin-left:20px;height: auto;width : 200px;" /><br><br>
            </div>
            <button type="submit" style="margin-left: 50px;">Add</button>
            <a href="/Home/Index">Back To Home Page</a>
            <div>
                <p style="color: red; margin-left:30px;">
                    * chú ý Poster, diễn viên ,Ảnh Mô tả ,Trailer , Tapphim Là Link Từ google drive<br>
                    * Muốn Add thêm Tập Thì tiếp Tục Click Add Không thì 'Click back To home page'
                    <br><br>
                    @{
                        String messeage = Request["messeage"];
                    }
                    @messeage
                </p>
            </div>
        </div>
            </form>
    </div>
</body>
</html>
