@model IEnumerable<DatabaseProvide.Comment>
<table style="width:770px;">
                    <tr>
                        <th>IDP </th>
                        <th>IDAC</th>
                        <th>Comment</th>
                        <th>Action</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>@item.IDP</td>
                            <td>@item.IDAC</td>
                            <td>@item.BinhLuan</td>
                            <td>
                                @using (Ajax.BeginForm("removeComment", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ajax2", InsertionMode = InsertionMode.Replace }))
                                {
                                    <button type="submit" name="binhluan" value="@item.BinhLuan" style="background-color:red;">Remove comment</button>
                                }
                                </td>
                        </tr>
                    }
                </table>

