
@{
    Layout = null;
}
@model List<DatabaseProvide.Phim>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manager Comment</title>
    <style>
        body {
            background-image: url('../../Assets/Admin/css/images/body-bg.gif');
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="text-align : center; color:antiquewhite;">
            Manager Comments
        </h1>
        <div style="margin-left:150px;">
            <a href="/Home/Index">Back to Home page</a>
        </div>
        <div style="background-color:darkgrey;height: auto;width : 1200px; margin :20px auto; border :3px solid green; border-radius: 20px; display:flex;">
            <div>
                <table style="width:370px;margin-left:20px;">
                    <tr>
                        <th>IDP</th>
                        <th>TênPhim</th>
                        <th>ThểLoại</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @using (Ajax.BeginForm("listcomment", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ajax2", InsertionMode = InsertionMode.Replace }))
                                {
                                    <input type="submit" value="@item.IDP" name="IDPForCm" />
                                }
                            </td>
                            <td>@item.TenPhim</td>
                            <td>@item.TheLoai</td>
                        </tr>
                    }
                </table>
            </div>

            <div id="ajax2" style="margin-left:20px;">
                <img src="~/Assets/images/meme4.jpg" style="height:590px; width:760px;  margin-top:20px;"/>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
