
@{
    ViewBag.Title = "chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>chat</h2>

<div id="messeage">

</div>
@using (Ajax.BeginForm("chat",new AjaxOptions() {HttpMethod="POST",InsertionMode=InsertionMode.InsertAfter,UpdateTargetId= "messeage" }))
{
    @Html.TextBox("msg")
    <input type="submit" value="send"/>
}

