
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register form</title>
    <style>
        body {
            background-image: url('../../Assets/Admin/css/images/body-bg.gif');
        }
    </style>
</head>
<body>
    <div>
        <h1 style="text-align : center; color:antiquewhite;">
            Register
        </h1>
        <form action="/Register/registerAccount" method="post">
        <div style="background-color:darkgrey;height: 600px;width : 400px; margin :50px auto; border :3px solid green; border-radius: 3% 3% 3% 3%;">
            <div style="margin-left:20px;margin-top:20px;">
                <label>IDAccount:</label><input style="margin-left:20px;height: auto;width : 200px;" name="idac" value="@System.Web.HttpContext.Current.Session["idac1"]"/><br><br>
                <label>UserName:</label><input style="margin-left:20px;height: auto;width : 200px;" name="user"value="@System.Web.HttpContext.Current.Session["user1"]"/><br><br>
                <label>Password:</label><input type="password" style="margin-left:20px;height: auto;width : 200px;" name="pass"value="@System.Web.HttpContext.Current.Session["pass1"]"/><br><br>
                <label>RE-Password:</label><input type="password" style="margin-left:20px;height: auto;width : 200px;" name="repass"/><br><br>
            </div>
            <button type="submit" style="margin-left: 50px;">Register</button>
            <a href="@((Session["previos"]))">Back To Previous page</a>
            <div>
                <p style="color: red; margin-left:30px;">
                    * chú ý IDAccount để admin dễ quản lý , ADAccount Bắt đầu Bằng chữ cái đầu viết hoa ,sau đó là 2 chữ số VD: U01
                </p>
                <p style="color: red; margin-left:30px; margin-top:30px;font-size:25px;">
                    *@System.Web.HttpContext.Current.Session["errorr1"]
                </p>
            </div>

        </div>
            </form>
    </div>
</body>
</html>
